body{

	font-family: "Crimson Text", "Times New Roman", sans-serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;

}

main{

	float: left;
	width: 85%;
	padding-bottom: 80px;

}

.div-textos{

	width: 720px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding: 25px 0;

}


h1, h2{

	font-family: "Open Sans Condensed", "Arial", sans-serif;
	
}

h2{

	font-size: 30px;
	clear: both;
}

main a{

	color: #851944;

}

.h1-principal{

	text-align: center;
	color: rgb(255,255,255);
	background-color: #851944;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
	text-transform: uppercase;

}

p{

	text-align: justify;
	margin: 20px 0px;

}

blockquote, aside, footer{

	padding: 20px;
	margin: 40px 20px;

}

.citacao{

	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	border-bottom-color: #333;
	border-right-color: transparent;

}

.fiat{

	float: right;
}

.petrobras{

	float: left;
}

cite{

	font-style: italic;
	float: right;
}

article footer{

	margin: 0;

}

article{

	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.leia-mais{

	font-size: 17pt;
	border: 2px solid #808080;
	padding: 8px;
	margin: 16px; 
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #851944;
	display: block;

}

.img-eu{

	float: right;
	border: 10px solid #000000;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;


}

.navegacao{

	background-color: #3C1D3D;
	color: #F2FFFC;
	text-align: center;
	list-style-type:none;
	padding: 20px;
	float: right;
	margin: 0px;
	border: 10px solid #000000;
	border-top: none;
	box-sizing: border-box;
	width:15%;
	position: relative;
	top: 310px;
}

.navegacao a{

	color: inherit;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	text-transform: lowercase;
}


.navegacao h1{

	font-size: 30px;
	margin-bottom: 25px;

}

.icones-sociais li{

	display: inline-block;
	margin-top: 15px;

}

.icones-sociais a{

	width: 40px;
	height: 40px;
	display: inline-block;
	color: transparent;

}

.github{

	background-image: url(github.png);
}

.twitter{

	background-image: url(twitter.png);
}

.linkedin{

	background-image: url(linkedin.png);
}

nav a{

	color: #F2FFFC;
	text-decoration: none;

}

strong{

	font-weight: bold;
}

em{

	font-style: italic;
}

#rodape-pagina{

	background-color: rgb(0,0,0);
	color: #F2FFFC;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0; 
	width: 100%; 
}