legend,
label [for="mensagem"]{

	font-weight: bold;
    margin-top: 1em;

}


.input-comum{

	border: 3px solid #ccc;
	padding: 5px;
	font-family: "Crimson Text", "Times New Roman", sans-serif;

}

.input[type="text"],
.input[type="email"],
textarea {

    font-family: inherit;
    font-size: 100%;
    padding: .25em .5em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;

}

.foco:hover,
.foco:focus{


	background-color: #FFFFE0;

}

input:invalid {
    box-shadow: 0 0 7px red;
}

input[value="outro"] ~ input {
    display: none;
}

input[value="outro"]:checked ~ input {
    display: inline;
}

.botao{

	float: right;
	border: none;
	padding: 10px;
	background-color: #3C1D3D;
	color: #F2FFFC;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size: 2ch;

}

.botao:hover,
.botao:focus{

	background-color: #8C1D3D;
	margin-bottom: 0;

}

.icone{

	position: relative;

}

.icone::after{

	content: '';
	background-repeat: no-repeat;
	background-color: #851944;
	background-position: center center;
	background-size: 50% 50%;
	width: 2em;
	height: 2em;
	position: absolute;
	top: 100%;
	left: 0;


}

.input[type="text"],
.input[type="email"]{

	position: relative;
	left: 2em;
	width: calc(100% - 2em);
	margin-top: 0;

}

.icone[for="nome"]::after{


	background-image: url(../imagens/usuario.png);

}

.icone[for="email"]::after{


	background-image: url(../imagens/email.png);

}