body{

	font-family: "Crimson Text", "Times New Roman", sans-serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;

}

main{

	float: left;
	width: calc(100% - 0.9 * 300px);
	padding-bottom: 80px;

}

header{

	position: relative;

}

.div-textos{

	width: 720px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding: 25px 0;

}


h1, h2{

	font-family: "Open Sans Condensed", "Arial", sans-serif;
	
}

h2{

	font-size: 30px;
	clear: both;
}

main a{

	color: #851944;

}

main a:hover,
main a:focus,
footer a:hover,
footer a:focus{

	color: red;

}




.h1-principal{

	text-align: center;
	color: rgb(255,255,255);
	background-color: #851944;
	padding: 1.25rem;
	border-bottom: .5rem solid black;
	text-transform: uppercase;
	text-shadow: 3px 3px #000;

}

.subtitulo-principal{

	font-size: 20px;
	text-align: center;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	text-transform: lowercase;

}

p{

	text-align: justify;
	margin: 20px 0px;

}

blockquote, aside, footer{

	padding: 20px;
	margin: 40px 20px;

}

article footer{

	margin: 0;

}

.article-blog{

	padding-bottom: 30px;
	margin-bottom: 20px;
	background-image: linear-gradient(to right, transparent, black, transparent);
	background-size: 100% 1px;
	background-position: bottom center;
	background-repeat: no-repeat;
}


.img-eu{

	float: right;
	border: 10px solid #000000;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;


}

.navegacao{

	background-color: #3C1D3D;
	color: #F2FFFC;
	text-align: center;
	list-style-type:none;
	padding: 20px;
	float: right;
	margin: 0px;
	border: 10px solid #000000;
	border-top: none;
	box-sizing: border-box;
	width:calc(0.9 * 300px);
	position: relative;
	top: 300px;
}

.navegacao a{

	color: inherit;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	text-transform: lowercase;
}

.navegacao a:hover,
.navegacao a:focus{

	text-shadow: 0 0 5px pink;

}


.navegacao h1{

	font-size: 30px;
	margin-bottom: 25px;

}

.icones-sociais a {
    position: relative;
}

.icones-sociais a:hover::after,
.icones-sociais a:focus::after {
    content: attr(data-tooltip);
    width: 300%;
    font-size: .75em;
    position: absolute;
    top: 100%;
    right: 0;
    text-indent: 0;
    background: black;
    color: white;
}

.icones-sociais a:hover::before,
.icones-sociais a:focus::before {
    content: '';
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(.5em) rotate(45deg);
}

.icones-sociais li{

	display: inline-block;
	margin-top: 15px;

}

.icones-sociais a{

	width: 40px;
	height: 40px;
	display: block;
	text-indent: -99999px;

}

.github{

	background-image: url(../imagens/github.png);
}

.twitter{

	background-image: url(../imagens/twitter.png);
}

.linkedin{

	background-image: url(../imagens/linkedin.png);
}

nav a{

	color: #F2FFFC;
	text-decoration: none;

}

strong{

	font-weight: bold;
}

em{

	font-style: italic;
}

#rodape-pagina{

	background-image: radial-gradient(ellipse at left bottom,
	rgba(60, 29, 61, 0.8) 65%, 
	rgba(60, 29, 61, 0.8), 
	black 65%,
	black 70%, 
	transparent 70%,
	transparent);
	background-size: 25% 100%;
	background-repeat: no-repeat;
	background-position: bottom left;
	color: #F2FFFC;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0; 
	width: 100%; 
}